* {
	padding: 0;
	margin: 0;
	position: relative;
	font-size: 2.5vh;
}

body {
	background: #000;
}

.HMain {
	position: fixed;
	top: 0;
	width: 100vw;
	right: -100vw;
	bottom: 0;
	background: #3bf;
	transition: all 0.1s;
	text-align: center;
}

.HHead {
	text-align: left;
	background: #000;
	color: #fff;
	padding: 1vh;
}

.HHMt {
	font-size: 9vw;
}

.HHDesc {
	font-size: 6vw;
	left: -2vh;
}

.HFoot {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0.5vh;
}

.HMenu {
	top: 10%;
}

.HTitle {
	font-size: 20vw;
	text-shadow: #000 0.3vh 0 0, #000 0 0.3vh 0, #000 -0.3vh 0 0, #000 0 -0.3vh 0;
	color: #ffffff;
	text-decoration: underline;
}

.HBtn {
	font-size: 10vw;
	padding-left: 10vw;
	padding-right: 10vw;
	box-shadow: rgb(36, 139, 190) 0 0 8px 8px;
}

.HBottom {
	top: 10vh;
}

.HSetting {
	text-align: left;
	display: inline-block;
}

.HSetting td {
	padding: 5px;
	padding-top: 10px;
}

.HSetting input {
	width: 3em;
}

.HText {
	color: #ffffff;
	text-shadow: #000 0.3vh 0 0, #000 0 0.3vh 0, #000 -0.3vh 0 0, #000 0 -0.3vh 0;
}

#IKeybd {
	font-family: 'Ubuntu Mono', Menlo, Monaco, 'Courier New', monospace;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

#IKeybd table {
	width: 100%;
}

#IKeybd td {
	font-size: 8vh;
	background: orange;
	text-align: center;
	user-select: none;
}

#IKeybd td:active {
	background: darkorange;
}

#ICon {
	background-color: #333;
	color: yellowgreen;
	overflow-wrap: break-word;
	width: 100%;
}